@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Inter:wght@200;300;400;500;600&display=swap');

@theme {
  --font-serif: "Tenor Sans", sans-serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-pearl: #fdfcfb;
  --color-brand-charcoal: #111111;
  --color-brand-champagne: #d4bc9e;
  --color-brand-stone: #f2f0ed;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-pearl);
  color: var(--color-brand-charcoal);
  @apply antialiased selection:bg-brand-charcoal selection:text-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

