@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Inter:wght@200;300;400;500;600&display=swap');

@theme {
  --font-serif: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-maroon: #630d16;
  --color-brand-pearl: #ffffff;
  --color-brand-charcoal: #333333;
  --color-brand-light: #f5f5f5;
  --color-brand-gold: #ffc107;
}

body {
  font-family: var(--font-sans);
  background-color: #f0f2f5;
  color: var(--color-brand-charcoal);
  @apply antialiased selection:bg-brand-maroon selection:text-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 600;
}

